<template>
  <div class="meeting container">
      <div id="meetingBtns">
        <label>Meeting Name:</label><input v-model="meetingName" id="meetingName"/>
        <label>Attendee Name:</label><input v-model="name" id="name"/><br/>
        <button v-on:click="joinAsPanelist()">Join as Panelist</button>
        <button v-on:click="joinAsAttendee()">Join as Attendee</button>
        <button v-on:click="listenOnly()">Listen Only</button>
      </div>
      <div id="videoTiles" class="row">
        <div class="col-3 videoTile" v-for="vCount in 16" :key="vCount" >
          <p>Presenter Video {{vCount}}</p>
          <video class="panelist-video "></video>
        </div>
      </div>
      <audio id="meetingAudio"></audio>
  </div>
</template>

<script>
import  * as ChimeAPI from "../js/meeting";


export default {
  name: 'attendee',
  props: {
    msg: String
  },
  data: function(){
    return {
      videoStreamCount: 16,
      meetingName: "",
      name: ""
    }
  },
  methods: {
    joinAsPanelist: function(){
      ChimeAPI.joinMeeting(true,{meetingName: this.meetingName,name:this.name});
    },
    joinAsAttendee: function(){
      ChimeAPI.joinMeeting(false,{meetingName: this.meetingName,name:this.name});
    },
    listenOnly: function(){

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.videoTile{
  background: gray;
  color: white
}
.panelist-video{
  width:100%;
  height: 200px;
}
</style>
