<template>
  <div class="meeting container">
      <div id="videoTiles row">
        <div class="col-2 videoTile" v-for="vCount in 3" :key="vCount" >
          <p>Presenter Video {{vCount}}</p>
          <video class="panelist-video "></video>
        </div>
      </div>
  </div>
</template>

<script>
import  * as ChimeAPI from "../js/meeting";

ChimeAPI.joinMeeting(true);


export default {
  name: 'attendee',
  props: {
    msg: String
  },
  data: function(){
    return {
      videoStreamCount: 16
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import'~bootstrap/dist/css/bootstrap.css'

</style>
