<template>
  <div id="app">
    <Attendee/>
  </div>
</template>

<script>
import Attendee from './components/Attendee'

export default {
  name: 'App',
  components: {
    Attendee
  }
}
</script>

<style>
@import'~bootstrap/dist/css/bootstrap.css'
</style>
